/* General Structure of the Website */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e5d9f2;
}
/* Header format for both the header tag and the nav bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #7161ef;
}
/* Formats the h1 tag inside of header, giving spacing, bigger text, and bolder font */
header h1 {
    font-size: 32px;
    font-weight: bold;
    margin-left: 10px;
}
/* Navigation Bar format. */
nav {
    display: flex;
    gap: 15px;
    padding: 15px;
}
/* Format for the navigation bar links */
nav a {
    margin-right: 10px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    transition: 0.3s;
}
/* When hovered, text changes color */
nav a:hover{
    color: white;
}

/* Format for the main section which contains the section and aside */
main {
    display: flex;
    padding: 20px;
}

/* A container for the task */
.task {
    background: #957fef;
    padding: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid #484747e6;
    box-shadow: 0px 5px 12px rgb(153, 73, 193);
    transition: 0.3s;
    cursor: pointer;
}
/* Tasks are arrange in a grid for easier viewing and better formatting */
.task-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
/* Ensures that the items are all the same length and take up the same space */
.tasks {
    flex: 3;
    padding: 20px;
}

/* When the task boxes gets hovered the background changes color*/
.task:hover{
    background-color: #6643f4;
}

/* The class for notes which contains the aside semantic elements */
.notes {
    flex: 1;
    padding: 20px;
    border-left: 3px solid #dec0f1;
}
/* Formats the unordered list to have no bullet point and has spacing */
.notes ul {
    padding: 20px;
    list-style: none;
}
/* Formats the list to have space and the font is bold */
.notes li {
    padding: 8px;
    font-weight: bold;
}
/* Important Task section */
.imptask{
    background-color: #b79ced;
    border-radius: 8px;
    transition: 0.3s;
}
/* When important task gets hovered, it changes colors */
.imptask:hover{
    background-color: #a579fe;
}
/* Important notes section */
.impnotes{
    background-color: #b79ced;
    padding: 20px;
    border-radius: 8px;
    transition: 0.3s;
}
/* When important notes gets hovered, it changes colors */
.impnotes:hover{
    background-color:#a579fe ;
}


/* Keeps the footer on the bottom */
footer{
    background-color: #7161ef;
    color: #000000;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
}